html,
body,
iframe {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

#kiosk-elements {
  display: inline-flex;
  height: 100%;
  width: 100%;
}

#text {
  margin: auto 0;
}

.kiosk-element--text {
  width: 100%;
}

.kiosk-element {
  display: none;
}
