@font-face {
  font-family: citrix-sans;
  src: url(//s3.amazonaws.com/citrix-cdn/can.cdn/marketing/assets/fonts/citrix-sans/citrixsans-regular.woff);
}

body {
  display: flex;
  font-family: citrix-sans;
  background-color: #fff;
  color: #676767;
}

a, a:visited, a:active {
  color: #676767;
  text-decoration: none;
}

a:hover {
  background-color: #DADADA;
}

.full-container {
  width: 100%;
  min-width: 100%;
  height: 100%;
  text-align: center;
}

.container {
  width: 80%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.header-img {
  width: 60%;
  height: 60%;
  max-width: 360px;
  max-height: 360px;
  margin: 0 auto;
}

.claim-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #333;
  width: 50%;
  border-radius: 20px;
}

.claim-button:hover {
  background-color: #DADADA;
}

.example-code {
  color: black;
}
.examples {
  padding: 5px;
}
.kiosk-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.or-text {
  padding: 10px 0;
}
.step-container {
  display: flex;
}
.step-number {
  flex: 1;
  border-right: 1px solid #333;
}

.step-content {
  flex: 2;
  padding: 0 50px;
}
