{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended"
  ],
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.(json|css|jpg|png|gif|eot|svg|ttf|woff|woff2|mp4|webm)$",
    ],
    "import/resolver": {
      webpack: {
        config: "webpack.config.dev.js"
      }
    }
  },
  "rules": {
    "eqeqeq": [ 2, "smart" ],
    "no-console": 1,
    "semi": [ 2, "never" ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true
  }
}
